<h1>Log In</h1>
<%= form_for(:session, url: login_path) do |f|%>
	
	<%= f.label :email %>
	<%= f.email_field :email %><br>

	<%= f.label :password %>
	<%= f.password_field :password %><br>
	
	<%= f.submit "Log In" %>
	
	<a href="users/new">Create Account</a>
<% end %>

