<!-- div class="container">
 -->	<div class="row">
		<div class="form-group">
			<%= form_for(@user) do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name, :placeholder => "Name", :class => "form-control" %>

			<%= f.label :email %>
			<%= f.email_field :email, :placeholder => "Email", :class => "form-control" %>

			<%= f.label :password %>
			<%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
		</div>
			<%= f.submit "Submit", :class => "btn btn-default" %>
			<% end %>

	</div>
<!-- </div> -->