
<% if food.expiration < Time.now %>

	<li data-id="<%= food.id %>" class="food-expired">
	
	<h4><%= food.food_name %></h4>
	<p><%= food.quantity %></p>
	<p><%= food.expiration %></p>

	<button class="edit-button btn btn-default">Edit Me</button>
	<button class="delete-button btn btn-default">Delete Me</button>

<% else %>


	<li data-id="<%= food.id %>">
	

	<h4><%= food.food_name %></h4>
	<p><%= food.quantity %></p>
	<p><%= food.expiration %></p>

	<button class="edit-button btn btn-default">Edit Me</button>
	<button class="delete-button btn btn-default">Delete Me</button>


	
<% end %>


	<!-- <div class="form-group"> -->
		<%= form_for(food, url: user_foods_path, :html => { :class => "edit-food-form", :style => "display:none;" }) do |f|%>
			<%= f.label :food_name %>
			<%= f.text_field :food_name, :placeholder => "Food Name", :class => "form-control" %>
			<%= f.label :quantity %>
			<%= f.text_field :quantity, :placeholder => "Quantity", :class => "form-control" %>
			<%= f.label :expiration %>
			<%= f.date_field :expiration, :placeholder => "Expiration", :class => "form-control" %>
			<%= f.submit "Submit", :class => "btn btn-default" %>
		<% end %>
	<!-- </div> -->
</li>
