<div class="row" id="foods-container" data-user-id="<%= @user.id %>">
	<div class="col-md-8">
		<h1>Hey, <%= @user.name %> </h1>
		<p>Here are your current foods:</p>	
		
		<div class="my-foods">
			<ul class="food-list">
				<%# iterates through @foods, renders food partial for each food %>
				<%= render :partial => "food", :collection => @foods %>
			</ul>

		</div>
	</div>
	
		
	<div class="col-md-8">
		<div class="form-group">
		<%= form_for [@user, @food], :html => { :id => "new-food-form" } do |f| %>
			<%= f.label :food_name %>
			<%= f.text_field :food_name, :class => "form-control" %>
			<%= f.label :category_id %>
			<%= f.select :category_id, [1,2,3,4] %>
			<%= f.label :quantity %>
			<%= f.text_field :quantity, :class => "form-control" %>
			<%= f.label :expiration %>
			<%= f.date_field :expiration, :class => "form-control" %>
		</div>
			<%= f.submit "Add New Food!", :class => "btn btn-default" %>

		<% end %>
	</div>
</div>
