<!DOCTYPE html>
<html>
<head>
  <title>FoodieApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
		<div class="header">
			<%= render "/layouts/navbar" %>

		</div>
		<div class="content">
			<div class="col-md-4 pull-right">
				<%= render "search" if @search_bar %>
			</div>
			<% flash.each do |message_type, message| %>
		        <div class="alert alert-<%= message_type %>"><%= message %></div>
		    <% end %>

			<%= yield %>
		</div>
	</div>
</body>
</html>
